.form_system label {
  width: 150px;
  font-size: 18px;
  font-weight: 600;
}

.form_system .btn_update {
  background: #3c4b64;
  font-size: 18px;
  padding: 8px 50px;
  font-weight: 600;
}

.form_system .form-control:focus {
  box-shadow: unset !important;
  outline: none !important;
}

.form_system .btn:active,
.form_system .btn:hover,
.form_system .btn:focus {
  background-color: #3c4b64 !important;
  border-color: #3c4b64 !important;
  box-shadow: unset !important;
}

.form_system .btn:active:focus {
  box-shadow: unset !important;
}

.form_system .system_img {
  margin-left: 135px;
  width: 200px;
  height: 200px;
  border: 1px solid #e1e1e1;
}
