.form_system label{
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}

.btn_update{
    background: #3c4b64;
    font-size: 18px;
    padding: 8px 50px;
    font-weight: 600;
}

.form-control:focus{
    box-shadow: unset !important;
    outline: none !important;
}

.btn:active, .btn:hover, .btn:focus{
    background-color: #3c4b64 !important; 
    border-color: #3c4b64 !important;
    box-shadow: unset !important;
}

.btn:active:focus{
    box-shadow: unset !important;
}
