
.btn_add, .btn.btn-primary{
    background-color: #303c54 !important;
    border-color: #303c54 !important;
    color: #fff !important;
}

.btn:active:focus,
.btn:focus{
    box-shadow: none;
}

.btn.btn-primary.btn_add{
    width: 150px;
}

.btn.btn-primary,
.btn.btn-secondary{
width: 100px;
}

.active > .page-link{
    background-color: #303c54 !important;
    border-color: #303c54 !important;
    color: #fff !important;
}

.page-link {
 color: #222 !important;
}

.page-link:focus {
    box-shadow: none !important;
    outline: none !important;
}


